In [1]:
import pandas as pd
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("SMS_Spam_Ham.csv")

In [3]:
data

     label                                            message
0      ham  Hey John, are you free for a quick chat later ...
1     spam  WINNER! You've won a free iPhone 15! Claim now...
2      ham     Don't forget to pick up milk on your way home.
3     spam  URGENT: Your bank account has been suspended. ...
4      ham     Okay, sounds good. See you at 7 PM for dinner.
...    ...                                                ...
4319  spam  Your lucky number has won £55,000! Call 0907xx...
4320  spam  Urgent: Your online identity has been stolen. ...
4321  spam  Get a FREE luxury gaming PC! Just answer a few...
4322  spam  Your bank transaction security has expired. Ge...
4323  spam  Congratulations! You've received a special rew...

[4324 rows x 2 columns]

In [4]:
data.head()

  label                                            message
0   ham  Hey John, are you free for a quick chat later ...
1  spam  WINNER! You've won a free iPhone 15! Claim now...
2   ham     Don't forget to pick up milk on your way home.
3  spam  URGENT: Your bank account has been suspended. ...
4   ham     Okay, sounds good. See you at 7 PM for dinner.

In [5]:
data.tail()

     label                                            message
4319  spam  Your lucky number has won £55,000! Call 0907xx...
4320  spam  Urgent: Your online identity has been stolen. ...
4321  spam  Get a FREE luxury gaming PC! Just answer a few...
4322  spam  Your bank transaction security has expired. Ge...
4323  spam  Congratulations! You've received a special rew...

In [6]:
data.shape

(4324, 2)

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4324 entries, 0 to 4323
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   label    4324 non-null   object
 1   message  4324 non-null   object
dtypes: object(2)
memory usage: 67.7+ KB

In [8]:
data.isnull().sum()

label      0
message    0
dtype: int64

In [9]:
data.duplicated().sum()

np.int64(471)

In [10]:
data=data.drop_duplicates(subset=['message'])

In [11]:
data

     label                                            message
0      ham  Hey John, are you free for a quick chat later ...
1     spam  WINNER! You've won a free iPhone 15! Claim now...
2      ham     Don't forget to pick up milk on your way home.
3     spam  URGENT: Your bank account has been suspended. ...
4      ham     Okay, sounds good. See you at 7 PM for dinner.
...    ...                                                ...
4319  spam  Your lucky number has won £55,000! Call 0907xx...
4320  spam  Urgent: Your online identity has been stolen. ...
4321  spam  Get a FREE luxury gaming PC! Just answer a few...
4322  spam  Your bank transaction security has expired. Ge...
4323  spam  Congratulations! You've received a special rew...

[3853 rows x 2 columns]

In [12]:
data.describe()

       label                                            message
count   3853                                               3853
unique     2                                               3853
top      ham  Hey John, are you free for a quick chat later ...
freq    2310                                                  1

In [13]:
data

     label                                            message
0      ham  Hey John, are you free for a quick chat later ...
1     spam  WINNER! You've won a free iPhone 15! Claim now...
2      ham     Don't forget to pick up milk on your way home.
3     spam  URGENT: Your bank account has been suspended. ...
4      ham     Okay, sounds good. See you at 7 PM for dinner.
...    ...                                                ...
4319  spam  Your lucky number has won £55,000! Call 0907xx...
4320  spam  Urgent: Your online identity has been stolen. ...
4321  spam  Get a FREE luxury gaming PC! Just answer a few...
4322  spam  Your bank transaction security has expired. Ge...
4323  spam  Congratulations! You've received a special rew...

[3853 rows x 2 columns]

In [14]:
print(data['label'].value_counts())

label
ham     2310
spam    1543
Name: count, dtype: int64

In [15]:
from sklearn.preprocessing import LabelEncoder

In [16]:
el=LabelEncoder()

In [17]:
data['label']=el.fit_transform(data['label'])

C:\Users\vodla\AppData\Local\Temp\ipykernel_24732\3968914917.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['label']=el.fit_transform(data['label'])

In [18]:
data

      label                                            message
0         0  Hey John, are you free for a quick chat later ...
1         1  WINNER! You've won a free iPhone 15! Claim now...
2         0     Don't forget to pick up milk on your way home.
3         1  URGENT: Your bank account has been suspended. ...
4         0     Okay, sounds good. See you at 7 PM for dinner.
...     ...                                                ...
4319      1  Your lucky number has won £55,000! Call 0907xx...
4320      1  Urgent: Your online identity has been stolen. ...
4321      1  Get a FREE luxury gaming PC! Just answer a few...
4322      1  Your bank transaction security has expired. Ge...
4323      1  Congratulations! You've received a special rew...

[3853 rows x 2 columns]

In [19]:
import string
import re
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer

ps = PorterStemmer()
stop_words = set(stopwords.words('english'))

def clean_text(text):
    text = text.lower()  
    text = re.sub(r'\d+', '', text)  
    text = text.translate(str.maketrans('', '', string.punctuation))  
    text = text.strip()  
    words = text.split()
    words = [ps.stem(word) for word in words if word not in stop_words]  
    return " ".join(words)

data['message'] = data['message'].apply(clean_text)

C:\Users\vodla\AppData\Local\Temp\ipykernel_24732\3343642727.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['message'] = data['message'].apply(clean_text)

In [20]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer(max_features=5000)
X = tfidf.fit_transform(data['message']).toarray()
y = data['label']

In [21]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [22]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.linear_model import LogisticRegression
from sklearn.svm import LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.ensemble import HistGradientBoostingClassifier
from sklearn.metrics import classification_report, accuracy_score

In [23]:
model1=MultinomialNB()
model1.fit(X_train,y_train)
y_pred1=model1.predict(X_test)
acc1=accuracy_score(y_test,y_pred1)
print(f" Naive Bayes Accuracy : {acc1}")
print(classification_report(y_test,y_pred1))

 Naive Bayes Accuracy : 0.9779507133592736
              precision    recall  f1-score   support

           0       0.98      0.98      0.98       475
           1       0.97      0.97      0.97       296

    accuracy                           0.98       771
   macro avg       0.98      0.98      0.98       771
weighted avg       0.98      0.98      0.98       771

In [24]:
model2= LogisticRegression()
model2.fit(X_train,y_train)
y_pred2=model2.predict(X_test)
acc2=accuracy_score(y_test,y_pred2)
print(f" Logistic Regression Accuracy : {acc2}")
print(classification_report(y_test,y_pred2))

 Logistic Regression Accuracy : 0.9753566796368353
              precision    recall  f1-score   support

           0       0.98      0.98      0.98       475
           1       0.97      0.97      0.97       296

    accuracy                           0.98       771
   macro avg       0.97      0.97      0.97       771
weighted avg       0.98      0.98      0.98       771

In [25]:
model3=LinearSVC()
model3.fit(X_train,y_train)
y_pred3=model3.predict(X_test)
acc3=accuracy_score(y_test,y_pred3)
print(f" SVM Accuracy : {acc3}")
print(classification_report(y_test,y_pred3))

 SVM Accuracy : 0.9909208819714657
              precision    recall  f1-score   support

           0       0.99      0.99      0.99       475
           1       0.99      0.99      0.99       296

    accuracy                           0.99       771
   macro avg       0.99      0.99      0.99       771
weighted avg       0.99      0.99      0.99       771

In [26]:
model4=RandomForestClassifier()
model4.fit(X_train,y_train)
y_pred4=model4.predict(X_test)
acc4=accuracy_score(y_test,y_pred4)
print(f" Random Forest Accuracy : {acc4}")
print(classification_report(y_test,y_pred4))

 Random Forest Accuracy : 0.9896238651102465
              precision    recall  f1-score   support

           0       0.99      1.00      0.99       475
           1       0.99      0.98      0.99       296

    accuracy                           0.99       771
   macro avg       0.99      0.99      0.99       771
weighted avg       0.99      0.99      0.99       771

In [27]:
model5=KNeighborsClassifier()
model5.fit(X_train,y_train)
y_pred5=model5.predict(X_test)
acc5=accuracy_score(y_test,y_pred5)
print(f" KNN Accuracy : {acc5}")
print(classification_report(y_test,y_pred5))

 KNN Accuracy : 0.9883268482490273
              precision    recall  f1-score   support

           0       0.98      1.00      0.99       475
           1       1.00      0.97      0.98       296

    accuracy                           0.99       771
   macro avg       0.99      0.98      0.99       771
weighted avg       0.99      0.99      0.99       771

In [28]:
model6 = ExtraTreesClassifier()
model6.fit(X_train, y_train)
y_pred6 = model6.predict(X_test)
acc6 = accuracy_score(y_test, y_pred6)
print(f"Extra Trees Accuracy: {acc6}")
print(classification_report(y_test, y_pred6))

Extra Trees Accuracy: 0.9870298313878081
              precision    recall  f1-score   support

           0       0.99      0.99      0.99       475
           1       0.99      0.98      0.98       296

    accuracy                           0.99       771
   macro avg       0.99      0.99      0.99       771
weighted avg       0.99      0.99      0.99       771

In [29]:
model7 = HistGradientBoostingClassifier()
model7.fit(X_train, y_train)
y_pred7 = model7.predict(X_test)
acc7 = accuracy_score(y_test, y_pred7)
print(f"HistGradientBoosting Accuracy: {acc7}")
print(classification_report(y_test, y_pred7))

HistGradientBoosting Accuracy: 0.9844357976653697
              precision    recall  f1-score   support

           0       0.99      0.99      0.99       475
           1       0.98      0.98      0.98       296

    accuracy                           0.98       771
   macro avg       0.98      0.98      0.98       771
weighted avg       0.98      0.98      0.98       771

In [30]:
import pandas as pd
from sklearn.metrics import precision_score, recall_score, f1_score

results = {
    'Model': ['Naive Bayes', 'Logistic Regression', 'SVM (LinearSVC)', 'Random Forest', 'KNN', 'Extra Trees'],
    'Accuracy': [acc1, acc2, acc3, acc4, acc5, acc6],
    'Precision': [
        precision_score(y_test, y_pred1),
        precision_score(y_test, y_pred2),
        precision_score(y_test, y_pred3),
        precision_score(y_test, y_pred4),
        precision_score(y_test, y_pred5),
        precision_score(y_test, y_pred6)
    ],
    'Recall': [
        recall_score(y_test, y_pred1),
        recall_score(y_test, y_pred2),
        recall_score(y_test, y_pred3),
        recall_score(y_test, y_pred4),
        recall_score(y_test, y_pred5),
        recall_score(y_test, y_pred6)
    ],
    'F1 Score': [
        f1_score(y_test, y_pred1),
        f1_score(y_test, y_pred2),
        f1_score(y_test, y_pred3),
        f1_score(y_test, y_pred4),
        f1_score(y_test, y_pred5),
        f1_score(y_test, y_pred6)
    ]
}


results_df = pd.DataFrame(results)


results_df = results_df.sort_values(by='Accuracy', ascending=False)


print(results_df)

                 Model  Accuracy  Precision    Recall  F1 Score
2      SVM (LinearSVC)  0.990921   0.986532  0.989865  0.988196
3        Random Forest  0.989624   0.993151  0.979730  0.986395
4                  KNN  0.988327   1.000000  0.969595  0.984563
5          Extra Trees  0.987030   0.986395  0.979730  0.983051
0          Naive Bayes  0.977951   0.969697  0.972973  0.971332
1  Logistic Regression  0.975357   0.966330  0.969595  0.967960

In [31]:
import joblib
joblib.dump(model2, 'spam_classifier_model.pkl')

joblib.dump(tfidf, "tfidf_vectorizer.pkl")

['tfidf_vectorizer.pkl']

In [32]:
def predict_spam(text):
    cleaned_text = clean_text(text)  
    vectorized_text = tfidf.transform([cleaned_text])
    prediction = model6.predict(vectorized_text)
    return "Spam" if prediction[0] == 1 else "Ham"

In [33]:
message = input("Enter a message: ")
print("Prediction:", predict_spam(message))

Enter a message:  hi

Prediction: Ham